scipy==1.5.4
pytest==5.4.3
seaborn==0.10.1
torchtext==0.6.0
tqdm==4.47.0
transformers==2.2.2
six==1.15.0
matplotlib==3.2.2
openpyxl==3.0.7
pandas==1.0.5
dynamic_yaml==1.2.3
torch==1.8.1
numpy==1.16.4
pytorch_crf==0.7.2
scikit_learn==0.24.1
tensorboardX==2.2
torchcrf==1.1.0
